 body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
	background-color: black;
	color: white;
	font-family: 'Ubuntu';
}
.landscape-warn {
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
	font-size: 400%;
}
.landscape-warn { 
	display: none; 
}
.content {
	display: inline-block;
}
h1 {
	font-size: 1000%;
	font-family: 'Overpass Mono';
	color: lime;
	margin: 5px;
}
h2 {
	font-size: 800%;
	font-family: 'Overpass Mono';
	color: lime;
	margin-bottom: 16px;
}
.description, #alert-msg {
	color: white;
	text-decoration: none;
}
.description {
	font-size: 300%;
}
.theme-desc {
	font-size: 325%;
	color: white;
	padding: 3px;
}
#theme-bg-picker, #theme-sc-picker {
	font-size: 400%;
}
.start-body {
	width: 100%;
}
input {
	display: block;
	font-size: 500%;
	background: none;
	border: 10px solid lime;
	border-radius: 20px;
	opacity: 0.7;
	transition: opacity 750ms;
	color: white;
	padding: 12px;
	text-align: center;
	width: 95%;
}
#name-area, #client-count-area, #pid {
	width: 90vw;
}
button {
	background: none;
	font-size: 500%;
	border: 10px solid lime;
	border-radius: 20px;
	opacity: 0.7;
	transition: opacity 750ms;
	padding: 12px;
	color: white;
}
#loading, #alert-box, #overlay,
#tooltipArea, #playing-area, #finish-area,
#theme-editor {
	display: none;
}
.mobile-center {
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -35%);
	display: block;
}
#overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	background-color: black;
	z-index: 2;
}
#loading {
	font-size: 800%;
	color: white;
	opacity: 1;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}
#theme-editor {
	width: 75%;
	position: fixed;
	top: 50%;
	left: 50%;
	padding: 9px;
	color: white;
	border: 9px solid lime;
	border-radius: 13px;
	transform: translate(-50%, -50%);
	z-index: 1000;
	padding: 20px;
}
#join-game {
	font-size: 700%;
	width: 60%;
}
#join, #show-theme {
	width: 60%;
}
#alert-box {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	padding: 25px;
	border: 10px solid lime;
	border-radius: 10px;
	z-index: 3;
}
#alert-msg {
	font-size: 300%;
}
#alert-ok {
	font-size: 300%;
	width: 70%;
}
#wait-message {
	font-size: 700%;
}
#wait {
	font-size: 400%;
	position: relative;
	font-family: 'Ubuntu';
	color: lime;
	opacity: 0.5;
	transition: opacity 750ms;
}
.mobile-wait {
	position: absolute;
	top: 20%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -20%);
}
.ans {
	position: absolute;
	font-size: 150%;
	font-family: 'Ubuntu';
	color: lime;
	width: 45%;
	height: 45%;
	opacity: 0.7;
	background-color: black;
	cursor: pointer;
	border: 10px solid lime;
	transition: opacity 250ms;
}
#ans0 {
	top: 4%;
	left: 4%;
	transform: translate(-3%, -3%);
}
#ans1 {
	top: 4%;
	left: 97%;
	transform: translate(-97%, -3%);
}
#ans2 {
	top: 96%;
	left: 4%;
	transform: translate(-3%, -97%);
}
#ans3 {
	top: 96%;
	left: 97%;
	transform: translate(-97%, -97%);
}
.shape {
	position: relative;
	top: 50%;
	left: 50%;
	color: lime;
	transform: translate(-50%, -50%);
	-webkit-box-align: center;
	-webkit-box-pack: center;
	display:-webkit-box;
	font-size: 1000%;
}
.dropdown {
	font-size: 350%;
	font-family: 'Ubuntu';
	color: black;
	background-color: lime;
	border-radius: 12px;
	padding: 5px;
	z-index: 99;
	margin: 10px;
	width: auto;
	display: inline-block;
	position: relative;
	width: 90%;
}
#dropdowns {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 98;
	pointer-events: none;
}
.mobile-ended {
	font-size: 500%;
	margin-bottom: 20px;
	white-space: nowrap;
}
.mobile-ended-2 {
	font-size: 400%;
	text-align: center;
}
.finish-data {
	font-size: 400%;
}
@media only screen and (orientation:landscape) {
    /* TODO: add landscape specific CSS */
}